<!DOCTYPE html>
<html lang="en">

<head>
    <title>RocketSneakz</title>
</head>
    <link rel="stylesheet" href="/static/contact.css">


<div class="topnav">
  <a class="active" href="{{ url_for('home') }}">home</a>
  <a href="{{ url_for('login') }}">login</a>
  <a href="{{ url_for('register') }}">register</a>
  <a href="{{ url_for('about') }}">About us</a>
    <a href="{{ url_for('contact') }}">Contact us</a>
    <div class="topnav-right">
     <a href="{{ url_for('cart') }}"><img src="/logo/cart.png"></a>
     <a href="{{ url_for('profile') }}"><img src="/logo/profile.png"></a>
    </div>


</div>
 </html>
<div class="container-sm">
            <div class="pd-v-20">
                <h1 class="heading h1">CONTACT US
                </h1>
                <div class="mt-20">
                    <p class="bold">
                        <h2>Delhi Store</h2>
                    </p>
                    <p>
                        HSS Apparel Private Limited,<br> Commercial Complex, B 6/19, <br /> Opp Safdarjung Enclave, Block B6, Deer Park, <br /> Safdarjung Enclave, New Delhi, Delhi - 110029
                    </p>
                    <p class="mt-5">
                        Timings: 11 am to 8 pm
                    </p>
                    <p class="mt-5">
                        Email: hello@RocketSneakz.com <br>
                        <span class="inline-flex cross-center">Whatsapp: <a href="https://wa.me/+919667791688/" style="margin-left:4px;" target="_blank" rel="noopener"><span class="ico ico-whatsapp-green ico-md "></span></a>
                        </span>
                    </p>



                    <p class="mt-40 bold">
                       <h2>Mumbai Store</h2>
                    </p>
                    <p>
                        B 501, 506, Hill Rd, Ranwar<br> Bandra West, Mumbai,<br> Maharashtra 400050
                    </p>
                    <p class="mt-5">
                        Timings: 11 am to 7:30 pm
                    </p>
                    <p class="mt-5">
                        Email: hello@RocketSneakz.com <br>
                        <span class="inline-flex cross-center">Whatsapp: <a href="https://wa.me/+919667791688/" style="margin-left:4px;" target="_blank" rel="noopener"><span class="ico ico-whatsapp-green ico-md "></span></a>
                        </span>
                    </p>


                    <p class="mt-40 bold">
                       <h2>Bengaluru Store</h2>
                    </p>
                    <p>
                        HSS Apparel Private Limited,<br> 1154, 12th Main Rd, Hal, HAL 2nd Stage, <br /> Indiranagar, Bengaluru, Karnataka 560038
                    </p>
                    <p class="mt-5">
                        Timings: 11 am to 7:30 pm
                    </p>
                    <p class="mt-5">
                        Email: hello@RocketSneakz.com <br>
                        <span class="inline-flex cross-center">Whatsapp: <a href="https://wa.me/+919667791688/" style="margin-left:4px;" target="_blank" rel="noopener"><span class="ico ico-whatsapp-green ico-md "></span></a>
                        </span>
                    </p>

                </div>
            </div>
        </div>